<%- model_class = OrderPosition -%>
<%= form_for @order_position, :html => { :class => 'form-horizontal' } do |f| %>
  <% if admin? %>
    <div class="control-group">
      <%= f.label :product_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :product_id, Product.all, :id, :name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :price, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :price, :class => 'number_field' %>
      </div>
    </div>
  <% else %>
    <dl class="dl-horizontal">
      <dt><strong><%= Product.human_attribute_name(:image) %>:</strong></dt>
      <dd><%= image_tag @order_position.product.image.url %></dd>
      <dt><strong><%= Product.human_attribute_name(:name) %>:</strong></dt>
      <dd><%= @order_position.product.name %></dd>
      <dt><strong><%= Product.human_attribute_name(:net_price) %>:</strong></dt>
      <dd><%= @order_position.product.net_price %></dd>
      <dt><strong><%= Product.human_attribute_name(:gross_price) %>:</strong></dt>
      <dd><%= @order_position.product.gross_price %></dd>
      <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
      <dd><%= @order_position.price %></dd>
    </dl>
  <% end %>
  <div class="control-group">
    <%= f.label :amount, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :amount, :class => 'number_field' %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                order_positions_path, :class => 'btn' %>
  </div>
<% end %>
