<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @delivery.name %>
</p>

<p>
  <b>Cost:</b>
  <%= @delivery.cost %>
</p>


<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
