<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <%= render :template => 'order_positions/index_items', :locals => { :show => true } %>
  <div class="control-group">
    <%= f.label :address_id, :class => 'control-label' %>
    <div class="controls">
    <% unless @addresses.empty? %>
      <%= f.collection_select :address_id, @addresses, :id, :name %>
    <% else %>
      <%= link_to 'Provide address info', new_address_path, :class => 'btn' %>
    <% end %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :value, :class => 'control-label' %>
    <div class="controls">
      <%= number_to_currency2(@order.value) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :delivery_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :delivery_id, Delivery.all, :id, :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :payment_method_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :payment_method_id, PaymentMethod.all, :id, :name %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
