<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Value:</b>
  <%= @order.value %>
</p>

<p>
  <b>Status:</b>
  <%= @order.status %>
</p>

<p>
  <b>Delivery cost:</b>
  <%= @order.delivery_cost %>
</p>

<p>
  <b>Delivery:</b>
  <%= @order.delivery %>
</p>

<p>
  <b>Payment method:</b>
  <%= @order.payment_method %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
